<!DOCTYPE html>
<html>
  <head>
    <title>Rails RPS</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>

  <body>
    <body>
  <div>
    <a href="/rock">Play Rock</a>
  </div>
  <div>
    <a href="/paper">Play Paper</a>
  </div>
  <div>
    <a href="/scissors">Play Scissors</a>
  </div>

  
    <%= yield %>

    <div>
    <a href="https://www.pgpedia.com/r/rock-paper-scissors#:~:text=The%20rock%20is%20a%20closed,and%20scissors%20wins%20against%20paper.">Rules</a>
   </div>

  </body>
  </body>
</html>
